# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/
ENV/

# Python packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Type checker
.mypy_cache/
.pyre/
.pytype/

# Linter
.ruff_cache/

# IDEs
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# SQLite database
*.sqlite3
*.db

# Temporary files
*.tmp
*.swp